repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: check-json
      - id: check-toml
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.1
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: sanitize-ascii
        name: ASCII sanitizer
        entry: python tools/sanitize_ascii.py
        language: system
        pass_filenames: false
        stages: [commit]
